---
import Footer from "@components/Footer.astro";
import Nav from "@components/Nav.astro";
import { ViewTransitions } from 'astro:transitions';
import { languages } from "@data/siteData";
import { allTranslations } from "@data/siteData";
import Seo from "@components/Seo.astro";
import { Icon } from "astro-icon/components";
import { getEntries, type CollectionEntry } from "astro:content";
import Toc from "@components/Toc.astro";

const { pageData, pageTitle, socialImage, headings, pageTranslation, ...rest  } = Astro.props.frontmatter || Astro.props;

// const pathArray = Astro.url.pathname.split('/');
// //const pageLang = pathArray[1] ? pathArray[1] : 'en';
// const htmlLang = languages.filter((lang) => pathArray.includes(lang.slug));

// const pageLang = htmlLang[0] ? htmlLang[0].lang : 'en';

// const filteredTranslations = Object.fromEntries(
//    Object.entries(allTranslations).filter(
//       ([key, value]) => pageData.languageCode === key
//    )
// );

// const translation = Object.values(filteredTranslations)[0];

const relatedPages = pageData.otherLanguages && await getEntries(pageData.otherLanguages);

// function getLanguage(langSlug: string) {
//   let defaultLang = 'en';
//   const langArray = langSlug.split('/');
//   if(langArray[0].length === 0) {
//     return defaultLang = 'en';
//   } else {
//     return defaultLang = langArray[0];
//   }
// }

function versionText(textObj: any, lang: string) {
	const textObjArr = Object.fromEntries(Object.entries(textObj).filter(([key]) => key.includes(lang)));
	const [text] = Object.keys(textObjArr);
	//console.log(textObjArr[text])
	return textObjArr[text];
}

// const objArr = Object.fromEntries(Object.entries(translation.versionText).filter(([key]) => key.includes('es')));

// const [prop] = Object.keys(objArr);

// dirty hack to get correctly matching current page in the list of version pages

let path = Astro.url.pathname;

if(path === '/') {
	path = '//';
}

---
<!DOCTYPE html>
<html class="scroll-smooth scroll-pt-32" lang=`${pageTranslation.id}`>

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- SEO -->
		<Seo pageData={pageData} pageTitle={pageTitle} socialImage={socialImage} hrefLang={relatedPages} lang={pageTranslation.id} />
	
		<ViewTransitions />
		
	</head>
	
	<body class="min-h-[101vh] flex flex-col justify-between dark:bg-slate-900">
		
		<Nav translations={pageTranslation.data} pageLang={pageTranslation.id}/>
		
		<main class="my-6 md:my-12 p-4 mx-auto max-w-[75ch]" >
			<!-- {entry.data.image && <BlockhausImage intent={entry.data.width} width={entry.data.image.width} height={entry.data.image.width} alt={entry.data.alt ? entry.data.alt : ''} src={entry.data.image} />} -->
			
		 
			 
			 <h1 class="text-xl md:text-3xl text-pretty dark:text-white">{pageData?.title}</h1>
			 
			 {headings && headings.length > 0 && <Toc headings={headings} translations={pageTranslation.data}/>}
			
			 <div class="prose dark:prose-invert my-8 prose-sm md:prose-base prose-h2:text-lg md:prose-h2:text-2xl prose-ol:list-roman mx-auto max-w-[75ch]">
			 	<slot />
			 </div>

			 <div class="flex flex-col md:flex-row items-center rounded-md gap-6 mt-12 divide-x">
				
				<span class="text-xs uppercase dark:text-white">{pageTranslation.data.versions} </span>
				<div class="flex flex-wrap justify-center gap-4 px-6">
				
				{relatedPages && relatedPages.map((page: CollectionEntry<'pages'>) => {
					
					path === `/${page.slug}/` ?
					<a title={`${versionText(pageTranslation.data.versionText, page.data.translation.id)}`} class="flex items-center justify-center bg-gray-100 rounded-full h-12 w-12 items-center gap-1 outline-2 outline-offset-2 outline-teal-200 outline hover:outline focus-visible:outline hover:outline-black focus-visible:outline-black" href={`${Astro.url.origin}/${page.slug !== '' ? `${page.slug}/` : `${page.slug}`}`}><Icon name={page.data.translation.id} /> <span class="sr-only">{versionText(pageTranslation.data.versionText, page.data.translation.id)}</span></a> :
					<a title={`${versionText(pageTranslation.data.versionText, page.data.translation.id)}`} class="flex items-center justify-center bg-gray-100 rounded-full h-12 w-12 items-center gap-1 outline-2 outline-offset-2 hover:outline-teal-200 hover:outline focus-visible:outline" href={`${Astro.url.origin}/${page.slug !== '' ? `${page.slug}/` : `${page.slug}`}`}><Icon name={page.data.translation.id} /> <span class="sr-only">{versionText(pageTranslation.data.versionText, page.data.translation.id)}</span> </a>
					
				})}
				
			 	{pageData.file && <a title={pageTranslation.data.pdfLink} class="bg-gray-100 no-underline flex items-center justify-center h-12 w-12 rounded-full outline-2 outline-offset-2 hover:outline-teal-200 hover:outline focus-visible:outline" href={`/${pageTranslation.id}/${pageData.file}`} data-astro-reload><Icon name="pdf" class="w-6 h-6" /><span class="sr-only">{pageTranslation.data.pdfLink}</span></a>}	
				
				
				
				</div>
			 </div>
		
		
	 	</main>
		
		<Footer />
	
	</body>
	
</html>
